/*
 * 3rd party stylings
 */

@import '~bootstrap/dist/css/bootstrap.css';

/*
 * Components
 */

@import './styles/_styles.css';
@import './pages/UserController/LoginPage/LoginPage.scss';
@import './pages/UserController/RegisterPage/RegisterPage.scss';
@import './components/SlidingError/SlidingError.scss';

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
