.card {
  margin: auto;
  height: 350px;
  width: 350px;
}

.HomeImg {
  height: 50%;
  width: 100%;
}

.content {
  text-align: center;
  color: blue;
  font-size: 20px !important;
}

.home {
  text-align: center;
}

#signup {
  margin-top: 40px;
}

u {
  color: blue;
}
