.RegisterPage {
  display: flex;
  width: var(--space-large);
}

.RegisterPage__Card {
  width: 100%;
}

.RegisterPage__Card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RegisterPage__Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RegisterPage__Form .form-group {
  color: var(--black);
  margin: 10px 0px;
}

.RegisterPage__Form-Button {
  margin: 20px 0px 10px 0px;
}
