#oded {
    width: 100%;
    height: 100vh;
}

.oded-final {
    display: flex;
    align-items: center;
    justify-content: center;
}

#oded .rick-btn {
    position: absolute;
    padding: 30px 60px;
    font-size: 32px;
}

#oded .rick-btn-final {
    position: relative;
}
